.feedback-page{
    background-image: url('./images/c4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feedback-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background:rgb(237,237,237,.1);
    backdrop-filter:blur(30px);
  }
  
  .feedback-form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .feedback-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .feedback-form-container label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
  }
  
  .feedback-form-container input[type="text"],
  .feedback-form-container textarea, .feedback-form-container input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccce0;
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .feedback-form-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .feedback-form-container button:hover {
    background-color: #0056b3;
  }
  
  .feedback-form-container input[type="text"]:focus,
  .feedback-form-container textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  .popup-content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .popup-content p {
    margin: 10px 0;
  }
  
  .popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  