/* Example CSS for UpdateHotel component */
.updatehotel {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #07010a57 0%, #0b08d456 100%);
    color: white;
  
    display: flex;
   
    height: 120vh;
}

.updatehotel h2 {
    text-align: center;
  font-size: 2.2rem;
}

.container_update {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom:10px;
  padding-top: 15px;
    max-width: 400px;
    max-height: 1003px;
    width: 100%;
    margin-left: 615px;
    margin-top: 30px;
  }
  
.form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fafafa;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #eaf1f1;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #6ACFC7;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #6ACFC7;
    color: #0C1A1A;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .form-group button:hover {
    background: #5DB9B4;
  }
  
  